:root{
    --bg-color: black;
    --second-bg-color: orange;
    --text-color: black;
    --second-text-color: white;
}
@media(prefers-color-scheme:dark){
    :root{
        --bg-color: white;
        --second-bg-color: red;
        --text-color: white;
        --second-text-color: black;}
}
body {
    background-color: brown;
}

.container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border: solid yellowgreen;
    width: 800px;
    height: 800px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
.blok{
    background-color: darkred;
    border: solid blue;
    height: 200px;
    width: 200px;
}
.blok3{
    flex-grow: 3;
}
.blok1{
    flex-grow: 1;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
    color: var(--text-color);
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: var(--second-bg-color);
    color: aliceblue;
}
main  {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
header{
    min-height: 120px;
    background-color: rgb(4, 71, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.main-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;

}
.main-menu a{
    color: wheat;
}
.main-menu li{
    flex-shrink: 0;
}

footer{
    display: flex;
    min-height: 100px;
    background-color: grey;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
aside{
    background-color: mediumpurple;
    width: 300px;
}
.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}
.card{
    width: 23%;
    border: 1px solid seagreen;
    border-radius: 15px;
    padding-bottom: 15px;

}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;

}
.card h3{
    color: darkcyan;
    margin: 10px 15px;
}
.card-price{
    margin: 0 15px;
}
.card button{
    background-color: azure;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover,
.card button:focus{
    box-shadow: 0 0 5px rgb(255, 255, 255);
}
.content{
    padding: 20px;
}
.drop-menu{
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: none;
}
.drop-menu svg{
    fill: white;
    width: 44px;
    height: 44px;
}
@media(max-width:650px){
    .card{
        width: 30%;
    }
}

@media(max-width:768px){
    aside{
        display: none;
    }
}
@media(max-width:600px){
    .drop-menu{
        display: block;
    }
    .main-menu{
        display: none;
    }
}
@media(max-width:400px){
    .card{
        width: 46%;
    }
}
@media(max-width:350px){
    .card img{
        height: 120px;
    }
}
